name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_test:
    name: Build & Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: fitlyfe-backend
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Verify Code
        # This will compile, run unit tests, and run integration tests
        run: ./gradlew check
